* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1px;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
         url('../fonts/RobotoSlab-Bold.woff') format('woff'),
         url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

li {
    list-style: none;
}

.header-line {
    background-color: #1f1f56;
}

.flex-nav {
    display: flex;
    justify-content: space-between;
}

.flex-nav li {
    padding: 20rem 5rem 15rem 0;
}

.header-menu {
    width: 100%;
}

.header-menu a {
    display: inline-block;
    color: #b1b1d2;
    font-size: 14rem;
    text-decoration: none;
    letter-spacing: 2rem;
    font-family: "Arial";
}

.header-menu a:hover {
    color: #fd8300;
}

.social li {
    row-gap: 20rem;
}

.social a {
    display: inline-block;
    background: url(../img/sprite-social-hata.png) no-repeat;
}

a.fb {
    background-position: 0 0;
    width: 10rem;
    height: 19rem;
}

.fb:hover {
    background-position: 0 -22rem;
} 

a.tw {
    background-position: -36rem -2rem;
    width: 20rem;
    height: 15rem;
}

.tw:hover {
    background-position: -36rem -24rem;
}

a.inst {
    background-position: -82rem 0;
    width: 19rem;
    height: 20rem;
}

.inst:hover {
    background-position: -82rem -22rem;
}


.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logo {
    margin-top: 20rem;
}

.phone,
.mail {
    position: relative;
    margin: 20rem;
    margin-left: 60rem;
}

.phone p {
    position: relative;
    width: 180rem;
}
.phone a {
    width: 180rem;
    display: inline;
    color: #25252c;
    text-decoration: none;
    font-size: 18rem;
    font-weight: bold;
    font-family: "Arial";
}

.phone::before{
    content: "";
    position: absolute;
    left: -30rem;
    top: 0;
    width: 17rem;
    height: 17rem;
    background: url(../img/phone-hata.png) no-repeat;
    background-position: 0 0;
}

.mail a {
    display: inline;
    width: 180rem;
    color: #25252c;
    font-size: 16rem;
    line-height: 24rem;
    font-family: "Arial";
}

.mail p {
    width: 180rem;
}

.mail::before {
    content: "";
    position: absolute;
    left: -30rem;
    top: 6rem;
    width: 18rem;
    height: 13rem;
    background: url(../img/mail.png) no-repeat;
    background-position: 0 0;
}

.skype {
    text-decoration: none;
}

.skype a {
    display: inline;
    width: 180rem;
}

.skype p {
    width: 180rem;
}

.skype::before {
    content: "";
    position: absolute;
    left: -29rem;
    top: 25rem;
    width: 19rem;
    height: 19rem;
    background: url(../img/skype.png) no-repeat;
    background-position: 0 0;
}

.skype,
.skype-footer {
    text-decoration: none;
}

.button {
    margin: 20rem;
}

.button a {
    display: inline-block;
    padding: 12rem 30rem;
    font-size: 16rem;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    border: 2rem solid #fd8300;
    border-radius: 25rem;
    text-decoration: none;
}

.button:hover {
    background-color: #fd8300;
    border-radius: 30rem;
}

img .button:hover {
    background-color: #ec7c06;
}




h1 {
    margin-top: 25rem;
    margin-bottom: 25rem;
    font-size: 24rem; 
    color: #24242b;
    font-family: "Roboto Slab";
}

h2 {
    margin-bottom: 22rem;
    font-size: 14rem;
    color: #24242b;
    font-family: "Roboto Slab";
}

.contacts {
    display: flex;
    flex-wrap: wrap;
}

.contacts div {
    margin: 10rem;
}

.contacts p {
    margin: 8rem 0;
    font-size: 14rem;
    line-height: 21rem;
    color: #666;
    font-family: "Arial";
}

.phone-contacts a {
    color: #25252c;
    text-decoration: none;
    font-size: 18rem;
    line-height: 24rem;
    font-weight: bold;
    font-family: "Arial";
}

.mail-contacts a {
    color: #25252c;
    font-size: 16rem;
    line-height: 24rem;
    font-family: "Arial";
}

.props {
    width: 255rem;
}

hr {
    border-top: #e4e4ec;
    margin: 20rem 0;
}

.map {
    width: 465rem;
    overflow: hidden;
}

iframe {
    min-height: 400rem;
    margin-top: -70rem;
    width: 100%;
    border: none;
}

.center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30rem;
}

.form {
    /* margin-left: 28rem; */
    width: 100%;
}

.forms {
    display: flex;
}

.form h2 {
    margin: 5rem;
    margin-bottom: 10rem;
}

.text-form input[type="text"] {
    margin: 5rem;
    /* min-width: 585rem; */
    padding: 10rem;
    width: 100%;
}

.info-form input[type="text"] {
    margin: 5rem;
    padding: 10rem;
    width: 100%;
}

input[type="text"] {
    border: 1rem #c4c4d3 solid;
    border-radius: 3rem;
}

textarea {
    padding: 10rem;
    margin: 5rem;
    /* min-width: 585rem; */
    width: 100%;
    border: 1rem solid #c4c4d3;
}

input[type="submit"] {
    padding: 15rem 30rem;
    border-radius: 30rem;
    background-color: #fd8300;
    color: #fff;
    border: none;
    cursor: pointer;
}

.send {
    margin-left: 5rem;
    margin-top: 10rem;
}

.send-agree {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
}

.agree {
    display: flex;
    margin: 25rem;
}

.agree label {
    margin-right: 10rem;
}

.agree p {
    font-size: 13rem;
    color: #666;
    font-family: "Arial";
}






footer {
    background-color: #ededf5;
}

footer ul {
    padding: 20rem 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info-build a {
    font-size: 14rem;
    line-height: 26rem;
    color: #666;
    font-family: "Arial";
    text-decoration: none;
}

.info-build a:hover {
    color: #ec7c06;
}

.phone-footer a {
    display: inline;
    width: 180rem;
    color: #25252c;
    text-decoration: none;
    font-size: 18rem;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}

.phone-footer p {
    width: 180rem;
}

.phone-footer,
.mail-footer {
    position: relative;
    margin-left: 40rem;
}

.phone-footer::before{
    content: "";
    position: absolute;
    left: -30rem;
    top: 23rem;
    width: 17rem;
    height: 17rem;
    background: url(../img/phone-hata.png) no-repeat;
    background-position: 0 0;
}

.mail-footer a {
    display: inline;
    color: #25252c;
    font-size: 16rem;
    font-family: "Arial";
}

.mail-footer::before {
    content: "";
    position: absolute;
    left: -30rem;
    top: 25rem;
    width: 18rem;
    height: 13rem;
    background: url(../img/mail.png) no-repeat;
    background-position: 0 0;
}

.skype-footer::before {
    content: "";
    position: absolute;
    left: -27rem;
    top: 47rem;
    width: 19rem;
    height: 19rem;
    background: url(../img/skype.png) no-repeat;
    background-position: 0 0;
}

.construction-company {
    background-color: #dcdce6;
}

.construction-company p {
    color: #9999a6;
    text-align: center;
    padding: 15rem;
    font-size: 13rem;
}


@media screen and (min-width: 500px) {
    .social {
        display: flex;
        column-gap: 30rem;
    }

    .footer-flex {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .header-menu  {
        display: flex;
        column-gap: 10rem;
    }

    .info {
        column-gap: 50rem;
    }

    .footer {
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    .center {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .contacts {
        display: flex;
        justify-content: space-between;
    }

    .form {
        width: 400rem;
    }


}

@media screen and (min-width: 1440px) {
    .flex {
        display: flex;
        justify-content: space-between;
    }
    
    .contacts {
        display: flex;
        justify-content: space-between;
    }

    .map {
        width: 50%;
    }

    .form {
        width: 50%;
        margin-left: 10rem;
    }

    .info-form input[type="text"] {
        display: flex;
        justify-content: space-between;
        width: 200rem;
    }

    .footer {
        display: flex;
        justify-content: space-between;
    }
}


