* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1px;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
         url('../fonts/RobotoSlab-Bold.woff') format('woff'),
         url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.wrapper {
    width: 80%;
    max-width: 960rem;
    margin: 0 auto;
}

nav {
    padding: 20rem 20rem 20rem 0;
}

li {
    list-style: none;
}

.header-line {
    background-color: #1f1f56;
}

.flex-nav {
    display: flex;
    justify-content: space-between;
}


 


.burger {
    position: relative;
    width: 30px;
    height: 24px;
    cursor: pointer;
}

.burger span,
.burger::before,
.burger::after {
    position: absolute;
    width: 100%;
    height: 4rem;
    background-color: #fff;
    border-radius: 2rem;
}

.burger span {
    top: 10rem;
}

.burger::before {
    content: "";
    top: 0;
}

.burger::after {
    content: "";
    bottom: 0;
}

nav {
    height: 60rem;
}
.hide {
    display: none;
}

.header-menu {
    width: 100%;
}

.menu {
    display: none;
}

.burger-active {
    transform: rotate(360deg); 
}

.burger {
    transition: 1s;
}


.hide {
    display: block;
    position: fixed;
    top: 60rem;
    left: 0;
    align-items: center;
    height: 70vh;
    width: 60vw;
    background-color: #1f1f56;
    z-index: 1;
}

.hide li {
    display: flex;
    justify-content: center;
    padding: 20rem;
}




.header-menu a {
    display: inline-block;
    color: #b1b1d2;
    font-size: 14rem;
    text-decoration: none;
    letter-spacing: 2rem;
    font-family: "Arial";
}

.header-menu a:hover {
    color: #fd8300;
}

.social {
    display: flex;
    justify-content: center;
}


.social a {
    display: inline-block;
    background: url(../img/sprite-social-hata.png) no-repeat;
}

a.fb {
    background-position: 0 0;
    width: 10rem;
    height: 19rem;
}

.fb:hover {
    background-position: 0 -22rem;
} 

a.tw {
    background-position: -36rem -2rem;
    width: 20rem;
    height: 15rem;
}

.tw:hover {
    background-position: -36rem -24rem;
}

a.inst {
    background-position: -82rem 0;
    width: 19rem;
    height: 20rem;
}

.inst:hover {
    background-position: -82rem -22rem;
}







.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30rem 0;
    gap: 30rem;
}

.phone p:first-child,
.mail p:first-child {
    margin-bottom: 5rem;
} 

.phone,
.mail {
    width: 100%;
    position: relative;
    
}

.flex p {
    display: flex;
    justify-content: center;
}


.phone a,
.mail a,
.skype a {
    position: relative;
}

.phone a,
.mail a {
    padding-left: 30rem;
    display: inline;
    color: #25252c;
    font-family: "Arial";
}

.phone a {
    font-weight: bold;
    text-decoration: none;
    font-size: 18rem;
}

.mail a {
    font-size: 16rem;
}

.phone .tel-number::before,
.mail .mail-hata::before,
.skype::before {
    content: "";
    position: absolute;
    left: 0;
    background-position: 0 0;
}

.phone .tel-number::before {
    width: 17rem;
    height: 17rem;
    background: url(../img/phone-hata.png) no-repeat;
}

.mail .mail-hata::before {
    width: 18rem;
    height: 13rem;
    background: url(../img/mail.png) no-repeat;
}

.skype {
    text-decoration: none;
}

.skype::before {
    top: 0;
    width: 19rem;
    height: 19rem;
    background: url(../img/skype.png) no-repeat;
}


.button a {
    display: inline-block;
    padding: 16rem 30rem;
    font-size: 16rem;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    border: 2rem solid #fd8300;
    border-radius: 25rem;
    text-decoration: none;
}

.button:hover {
    background-color: #fd8300;
    border-radius: 25rem;
}



.info {
    width: 100%;
}

h1 {
    padding: 5rem 0;
    font-size: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.info p {
    margin: 10rem 0;
    font-size: 14rem;
    color: #666;
    font-family: "Arial";       
}



table tr {
    border-top: none;
    border-right: none;
    border-left: none;
}

.foot-table {
    border-bottom: none;
}

table {
    border-radius: 5px;
    overflow: hidden;
}

.table-div {
    overflow-x: auto;
    margin-bottom: 25rem;

}

table {
    width: 100%;
    background-color: #e4e4ec;
    border-collapse: collapse;
}

th {
    font-size: 14rem;
    font-family: "Roboto Slab";
    padding: 15rem;
    color: #fff;
    background-color: #1f1f56;
}

tr {
    border: 1rem #cdcddd solid;
}

td {
    font-size: 14rem;
    color: #666;
    font-family: "Arial";
    padding: 15rem;
}

tr:hover td {
    background-color: #fd8300;
    color: #fff;
}

article p,
article a {
    font-size: 13rem;
    color: #666;
    font-family: "Arial";
}

article p {
    padding: 5rem 0;
}

article a {
    display: inline-block;
    padding: 30rem 0;
}

article a:hover {
    color: #fd8300;
}

hr {
    border-top: #e4e4ec;
}


.projects,
.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}



.projects {
    gap: 16rem;
    margin-bottom: 30rem;
}

.projects p {
    padding: 2rem 0;
    font-size: 13rem;
    line-height: 18rem;
    color: #9999a6;
    font-family: "Arial";
}

.projects img {
    height: 150rem;
}

h2 {
    padding: 30rem 0;
    font-size: 24rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.name {
    display: inline-block;
    padding: 15rem 0;
    font-size: 14rem;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}

.name:hover {
    text-decoration: underline;
}



footer {
    background-color: #ededf5;
}

footer ul {
    padding: 20rem 0;
}

.info-build a {
    font-size: 14rem;
    line-height: 26rem;
    color: #666;
    font-family: "Arial";
    text-decoration: none;
}

.info-build a:hover {
    color: #ec7c06;
}


.construction-company {
    background-color: #dcdce6;
}

.construction-company p {
    color: #9999a6;
    text-align: center;
    padding: 15rem;
    font-size: 13rem;
}

@media screen and (min-width: 600px) {
    .flex div {
        width: 45%;
    }
 
    .flex {
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) {
    .header-menu  {
        display: flex;
        column-gap: 10rem;
    }

    .flex div {
        width: max-content;
    }

    .button {
        justify-self: center;
    }

    .burger {
        display: none;
    }

    .menu {
        width: 100%;
        display: block;
        display: flex;
        justify-content: space-between;
    }

    .social {
        column-gap: 20rem;
    }

    .info {
        column-gap: 50rem;
    }

    .footer {
        display: flex;
    }
}

@media screen and (min-width: 1440px) {
    .flex,
    .footer {
        display: flex;
        justify-content: space-between;
    }

    .projects {
        flex-wrap: nowrap;
        width: 100%;
    }
}
